@media (max-width: 992px) {

    .navList {
        margin-left: 0px;

    }

    .carrito {
        margin-right: 40px;
    }

    .hero {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 0px;
    }

    .heroInfo {
        width: 100%;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
    }

    .heroInfo h1{
        width: 90%;
        text-align: center;
        font-size: 30px;
        margin-bottom: 40px;
    }

    .heroInfo p {
        width: 80%;
        text-align: justify
    }

    .botones{
        justify-content: flex-end;
        align-items: center;
        width: 80%;
        margin-top: 30px;
    }

    .heroImg {
      display: none;
    }

    .info {
        width: 100%;
    }

    .sectionMarcas {
        width: 100%;
    }

    .marcasCont {
        width: 100%;
    }

    .marcas {
       width: 25%;
       /* justify-content: center;
       align-items: center; */
    }

    .marcas img {
        height: 30%;
    }

}

@media (max-width: 768px) {
    header {
        padding: 0px;
    }

    .navList {
        gap: 30px;
    }


    .marcasCont {
        height: 200px;
    }

    .marcas {
        height: 200px;
        width: 180px;
    }  
    
    .marcas img {
        height: 30%;
    }
}

@media (max-width: 576px) {

    .navList a {
        font-size: 10px;
    }

    .navList a:hover {
        font-size: 11px;
    }

    .info p {
        width: 110%;
    }

    .sectionMarcas {
        margin-top: 30px;
        gap: 40px;
    }

    .marcasCont {
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
        height: 100px;
        padding: 0px 40px 0px 40px;
    }

    .marcas {
        width: 30%;
        border-radius:10px;
    }

    .marcas img {
        width: 50%;
        height: 40%;
    }
}