@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Header */

header {
    display: flex;
    width: 100%;
    background: rgb(26, 56, 101);
    height: 75px;
    justify-content: space-between;
    align-items: center;  
    padding: 0px 40px 0px 40px ;  
    position: fixed;
    top: 0;
}

/* Logo */

.logo {
    height: 100%;
}

/* Nav */

.nav,
.navList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    gap: 200px;
    
}

/* navList */

.navList {
    gap: 25px;
}

.navList a {
    color: rgb(207, 206, 206);
    font-size: 16px;
}

.navList li:first-child > a {
    color: rgb(48, 176, 201);
    font-weight: 700;
}

/* Carrito Icono */

.carrito{
    background-color: rgb(213, 213, 213);
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    padding: 8px 27px ;
    border-radius: 10px;
    cursor: pointer;
}



